<div class="row">
<h2 class="text-center">Locations</h2>
</div>
<div class="row">
<form class="form-horizontal">
  <div class="row">
  <div class="form-group">
    <label>Building: </label>
    <input type="text" class="form-control"
    ng-model="location"
    uib-typeahead="building.name for building in typeaheadBuilding($viewValue)" typeahead-on-select="typeaheadSelected($item, $model, $label)" class="form-control">
    <label>Floor Number: </label>
    <select class="form-control" ng-model="floorId" ng-change="loadMap(floorId)">
      <option ng-repeat="floor in floors" value="{{floor.id}}">{{floor.number}}</option>
    </select>

  </div>
</div>
</form>
</div>
<div ng-show="floorId && !hasMap && !loading " ng-include="'map/upload.html'"></div>
<div ng-show="floorId && (loading || hasMap)" ng-include="'map/show.html'"></div>
