<div class="row">
<h2 class="text-center">Locations</h2>
</div>
<div class="row">
<form class="form-horizontal">
  <div class="row">
  <div class="form-group">
    <label>Building: </label>
    <input type="text" class="form-control"
    ng-model="department"
    uib-typeahead="department.name for department in typeaheadDepartment($viewValue)"
    typeahead-on-select="typeaheadSelected($item, $model, $label)" class="form-control">

  </div>
</div>
</form>
</div>
<div ng-show="department.id && !hasMap && !loading " ng-include="'map/upload.html'"></div>
<div ng-show="department.id && (loading || hasMap)" ng-include="'map/show.html'"></div>
