<div class="row">
<h3>Map</h3>
</div>
<div class="row" ng-if="loading">
  <h2 class="text-center">Loading<i class="fa fa-spinner fa-5 fa-spin"></i></h2>
</div>
<div class="row" ng-if="!loading && hasMap">
  <leaflet id="map" center="center" layers="layers" markers="markers" event-broadcast="events" legend="legend" defaults="defaults" width="100%" height="500px"></leaflet>
</div>
<div class="row" ng-if="!loading && hasMap">
    <div class="btn-group" role="group">
     <button type="button" ng-click="restoreLocations()" class="btn btn-default">Restore</button>
     <button type="button" ng-click="saveLocations()" class="btn btn-primary">Save</button>
   </div>
</div>
