<class="row">
  <form class="form-horizontal">
    <div class="row">
      <div class="form-group">
        <label>This floor has no map yet, please upload one</label>
        <input type="file" nv-file-select uploader="uploader" class="btn btn-default form-control" options=""/>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button ng-click="upload()" type="submit" class="btn btn-primary" ng-hide="uploading"> Send </button>
        <button ng-click="upload()" type="submit" class="btn btn-primary" ng-show="uploading" disabled>Sending <i class="fa fa-spinner fa-spin" ></i></button>
      </div>
    </div>
</form>
</div>
