<div class="row">
    <div class="col-xs-6">
        <fieldset>
            <legend>Info</legend>
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>{{ap.id}}</dd>
                <dt>Name</dt>
                <dd>{{ap.name}}</dd>
                <dt>IP</dt>
                <dd>{{ap.ip}}</dd>
                <dt>Switch IP</dt>
                <dd>{{ap.switch_ip || '-'}}</dd>
                <dt>Campus</dt>
                <dd>{{ap.campus_name}}</dd>
                <dt>Building</dt>
                <dd>{{ap.building_name}}</dd>
                <dt>Floor</dt>
                <dd>{{ap.floor_number || '-'}}</dd>
                <dt>Location</dt>
                <dd>{{ap.location_name || '-'}}</dd>
                <dt>Validated</dt>
                <dd>
                    <span class="label label-success" ng-if='ap.validated'><i class="fa fa-thumbs-o-up"></i></span>
                    <span class="label label-danger" ng-if='!ap.validated'><i class="fa fa-thumbs-o-down"></i></span>
                </dd>
                <dt>Status</dt>
                <dd>{{ap.ap_status.name || '-'}}</dd>
                <dt>Model</dt>
                <dd>{{ap.ap_model.name || '-'}}</dd>
                <dt>Control Region</dt>
                <dd>{{ap.control_region.name || '-'}}</dd>
                <dt>Latitude</dt>
                <dd>{{ap.latitude || '-'}}</dd>
                <dt>Longitude</dt>
                <dd>{{ap.longitude || '-'}}</dd>
            </dl>
        </fieldset>
        <fieldset>
            <legend>SNMP Status  <button class="btn btn-primary btn-xs" ng-click="reloadSNMPStatus()"><i class="fa fa-refresh"></i></button></legend>
            <dl ng-show="snmp_status && !loading" class="dl-horizontal">
                <dt>SysLocation</dt>
                <dd>{{snmp_status.syslocation.value}}</dd>
                <dt>Channel</dt>
                <dd>{{snmp_status.channel.value}}</dd>
                <dt>Power</dt>
                <dd>{{snmp_status.power.value}}</dd>
            </dl>
        </fieldset>
        <h4 class="text-center" ng-show="loading">Loading</h4>
        <h4 class="text-center" ng-show="!snmp_status && !loading">Unavaliable</h4>
    </div>
    <div class="col-xs-6">

        <fieldset>
            <legend>Location</legend>
            <leaflet id="map" ng-if="hasLocation" maxbounds="maxbounds" tiles="tiles" markers="markers" defaults="defaults"  width="600px" height="400px"></leaflet>
            <div class="btn-group" role="group">
                <button type="button" ng-click="restoreLocation()" class="btn btn-default">Restore</button>
                <button type="button" ng-click="saveLocation()" class="btn btn-primary">Save</button>
            </div>
        </fieldset>
    </div>
</div>