<nav class="navbar navbar-default" role="navigation" ng-controller="MenuController as ctrl">
  <div class="navbar-header">
    <a class="navbar-brand" ui-sref="root.aps">Wifi-Uff-Location</a>
  </div>
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    <ul class="nav navbar-nav">
      <li uib-dropdown="">
        <a href="#" uib-dropdown-toggle="">
                        Aps<b class="caret"></b>
                    </a>
        <tree tree="ctrl.aps_menu"></tree>
      </li>
      <li uib-dropdown="">
        <a href="#" uib-dropdown-toggle="">
                        Departments<b class="caret"></b>
                    </a>
        <tree  tree="ctrl.departments_menu"></tree>
      </li>
      <li uib-dropdown="">
        <a href="#" uib-dropdown-toggle="">
                        Importer<b class="caret"></b>
                    </a>
        <tree tree="ctrl.importer_menu"></tree>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li uib-dropdown="">
        <a href="#" uib-dropdown-toggle="">
                        Hello, {{}}<b class="caret"></b>
                    </a>
        <tree tree="ctrl.session_menu"></tree>
      </li>
    </ul>
  </div>
</nav>
<ui-view></ui-view>
<footer class="container">
</footer>
