<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref=".aps.list">Wifi-Uff Location</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref=".aps.list">APs</a></li>
                <li><a ui-sref=".locations">Locations</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ui-view></div>
<footer>
    <h5 class="text-center">Footer</h5>
</footer>
