<div class="row">
    <leaflet id="map" center="center" layers="layers" markers="markers" event-broadcast="events" legend="legend" defaults="defaults" maxbounds="maxbounds" width="100%" height="400px"></leaflet>
</div>
<div class="row">
    <br/>
</div>
<div class="row">
    <bm-alerts bm-items="ctrl.alerts"></bm-alerts>
</div>
<div class="row">
  <div class="btn-group" role="group">
    <button ng-if="!ctrl.editing" type="button" ui-sref="root.departments.upload_map({department_id: ctrl.department_id})" uib-tooltip="Replace Map" class="btn btn-warning" tooltip-placement="top-left"><i class="fa fa-cloud-upload"></i></button>
    <button ng-if="!ctrl.editing" type="button" ng-click="ctrl.edit()" class="btn btn-primary" uib-tooltip="Change routers configuration in map" tooltip-placement="top-left"><i class="fa fa-pencil"></i></button>
  </div>
    <form name="mark_aps" class="form-inline" ng-if="ctrl.editing">
        <label class="text-success" ng-hide="ctrl.unmarkedAps.length"> 0 APs left to add, please verify before save </label>
        <select name="unmarked_ap" ng-model="ctrl.unmarkedAp" ng-show="ctrl.unmarkedAps.length > 0" class="form-control"
           ng-options="ap as ap.name for ap in ctrl.unmarkedAps">
          <option value="" disabled="">Add Ap to Map</option>
        </select>
        <div class="btn-group" role="group">
            <button type="button" ng-click="ctrl.cancel()" class="btn btn-small btn-danger" uib-tooltip="Cancel" tooltip-placement="top-left"><i class="fa fa-times"></i></button>
            <button type="button" ng-click="ctrl.save()" class="btn btn-small btn-success" uib-tooltip="Save" tooltip-placement="top-left"><i class="fa fa-check"></i></button>
        </div>
    </form>
</div>
