<div class="row" ng-if="ctrl.loading">
  <h2 class="text-center">Loading<i class="fa fa-spinner fa-5 fa-spin"></i></h2>
</div>
<div class="row" ng-if="!ctrl.loading && ctrl.hasMap">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <leaflet id="map" center="ctrl.center" layers="ctrl.layers" markers="ctrl.markers" event-broadcast="ctrl.events" legend="ctrl.legend" defaults="ctrl.defaults" width="100%" height="500px"></leaflet>
  </div>
</div>
<div class="row" ng-if="!ctrl.loading && ctrl.hasMap">
    <div class="btn-group" role="group">
     <button type="button" ng-click="ctrl.restoreLocations()" class="btn btn-default">Restore</button>
     <button type="button" ng-click="ctrl.saveLocations()" class="btn btn-primary">Save</button>
   </div>
</div>
